<%= form_for :restarent, url: restarents_path do |f| %>
  <div style="text-align:center"><p>
    <%= f.label :Name_of_restarent %><br>
    <%= f.text_field :Name_of_restarent %>
  </p>
   <p>
    <%= f.submit %>
  </p></div>
<% end %>